<!DOCTYPE html>
<html>
<head>
  <title>&AElig;ther</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
  <link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' />
</head>
<body>
  <div id='full' class='pane'>
    <div id='main-view' class='pane'>
      <canvas id='main-canvas'></canvas>
    </div>
    <div id='side' class='pane'>
    </div>
  </div>
</body>
</html>
